@use '../abstracts' as *;

*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

input {
  color: inherit;
  background-color: inherit;
}

svg,
img,
video {
  width: 100%;
  height: 100%;
}

svg {
  aspect-ratio: 1;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;

  // inherit font & color from ancestor
  color: inherit;
  font: inherit;

  // normalize `line-height`. cannot be changed from `normal` in firefox 4+.
  line-height: normal;

  // corrects font smoothing for webkit
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  // corrects inability to style clickable `input` types in ios
  -webkit-appearance: none;
  appearance: none;
}

// lists
li {
  list-style-type: none;
}

::-webkit-scrollbar {
  cursor: default;
  background-color: $scroll-bar-bg;
  height: $scroll-bar-height;
  width: $scroll-bar-width;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background-color: $scroll-bar;
}

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
  background-color: $scroll-bar-hover;
}
