//* colors
// theme
// page
$page-bg: #282c2f;
$page-fg: #b3b3b3;

// scroll-bar
$scroll-bar: #505050;
$scroll-bar-hover: #808080;
$scroll-bar-bg: #202020;

/* input */
$input-bg: #3a4047;
$input-fg: #cbcbcb;
$input-placeholder-fg: #919191;

/* icon */
$icon-bg: #353a40;
$icon-fg: #6a7070;

/* submit */
$submit-bg: #575c62;
$submit-fg: #cbcbcb;
$submit-bg-hover: #6a7078;
$submit-fg-hover: #ebebeb;

/* notification */
$notification-info-bg: #585858;
$notification-info-fg: #fbf3c6;

$notification-error-bg: #423d41;
$notification-error-fg: #ff6767;

$notification-success-bg: #3d423f;
$notification-success-fg: #97ff67;

//* sizes
$page-width: 123rem;

// scroll-bar
$scroll-bar-height: 8px;
$scroll-bar-width: 8px;
