//* colors
// theme
// page
$page-bg: #282c2f;
$page-fg: #b3b3b3;

// scroll-bar
$scroll-bar: #505050;
$scroll-bar-hover: #808080;
$scroll-bar-bg: #202020;

// submit
$submit-bg: #575c62;
$submit-fg: #cbcbcb;
$submit-bg-hover: #6a7078;
$submit-fg-hover: #ebebeb;

// search
$search-bg: #3a4047;
$search-input-bg: #353a40;
$search-input-fg: $page-fg;
$search-version-fg: #9cd8c5;
$search-input-placeholder-fg: #919191;
$search-icon-fg: #cacaca;
$search-icon-hover-fg: #fbf3c6;

// lists
$list-bg: #3a4047;

// results
$result-bg: #353a40;
$result-icon-bg: #42474d;
$result-icon-fg: #56a3b8;

// download
$download-bg: #3e424a;
$download-shadow: #8c9f9e;
$download-name-fg: #fcd8a1;
$download-name-symbols-fg: #ec406a;
$download-icon-fg: #99abc0;
$download-icon-hover-fg: #fcd8a1;
$download-close-hover-fg: #e77f8f;
$download-info-bg: #303339;
$download-element-fg: #c4c5ef;
$download-type-fg: #fce2a1;

// notification
$notification-info-bg: #585858;
$notification-info-fg: #fbf3c6;

$notification-error-bg: #423d41;
$notification-error-fg: #ff6767;

$notification-success-bg: #3d423f;
$notification-success-fg: #97ff67;

//* sizes
$page-width: 80rem;

// scroll-bar
$scroll-bar-height: 0.8rem;
$scroll-bar-width: 0.8rem;
