//* colors
// theme
// page
$page-bg: #282c2f;
$page-fg: #b3b3b3;

// scroll-bar
$scroll-bar: #8f8f8f;
$scroll-bar-hover: #9c9c9c;
$scroll-bar-bg: #606060;

// main
$main-bg: #3a4047;

// search
$search-input-bg: #353a40;
$search-input-fg: $page-fg;
$search-version-fg: #9cd8c5;
$search-input-placeholder-fg: #919191;
$search-icon-fg: #cacaca;
$search-icon-hover-fg: #fbf3c6;
$search-icon-loading-fg: #d89c9c;
$iconsearch-bg: $main-bg;
$iconsearch-border: #8c9f9e;
$iconsearch-items-bg: $search-input-bg;
$iconsearch-items-matched-fg: #f9eb99;
$iconsearch-items-hover-bg: #485058;
$iconsearch-items-selected-bg: #4e5966;
$iconsearch-icon-name-fg: #8ab1dc;
$iconsearch-icon-alias-fg: #edb3a0;
$iconsearch-tag-fg: #121212;

// results
$result-bg: #353a40;
$result-icon-bg: #3a4047;
$result-icon-fg: #56a3b8;

// download
$download-bg: #3e424a;
$download-shadow: #8c9f9e;
$download-name-fg: #fcd8a1;
$download-name-symbols-fg: #ec406a;
$download-icon-fg: #99abc0;
$download-icon-bg: #0001;
$download-icon-hover-fg: #fcd8a1;
$download-close-hover-fg: #e77f8f;
$download-info-bg: #303339;
$download-element-fg: #c4c5ef;
$download-type-fg: #fce2a1;

// notification
$notification-info-bg: #585858;
$notification-info-fg: #fbf3c6;

$notification-error-bg: #423d41;
$notification-error-fg: #ff6767;

$notification-success-bg: #3d423f;
$notification-success-fg: #97ff67;

//* sizes
$page-width: 80rem;

// scroll-bar
$scroll-bar-height: 0.8rem;
$scroll-bar-width: 0.8rem;
