@use '../abstracts' as *;

main.main {
  padding: 2rem;

  .main__icons {
    display: flex;
    flex-direction: column;

    max-width: $page-width;
    margin: 0 auto;
  }

  // search
  .icons__search {
    display: flex;
    background-color: $search-bg;
    padding: 0.5rem;

    #version,
    #name {
      padding: 1rem;
      font-size: 1.5rem;
      width: 100%;

      background-color: $search-input-bg;
      color: $search-input-fg;

      &::placeholder {
        text-transform: capitalize;
        color: $search-input-placeholder-fg;
      }

      &:is(:-webkit-autofill, :autofill),
      &:is(:-webkit-autofill, :autofill):focus {
        -webkit-box-shadow: 0 0 0 100rem $search-input-bg inset;
        -webkit-text-fill-color: $search-input-fg;
        caret-color: $page-fg;
      }
    }

    #version {
      flex: 1;
      min-width: 8rem;
      padding: 1rem;
      text-align: center;
      font-weight: bold;
      border-right: 0.1rem solid $search-bg;
      color: $search-version-fg;
    }

    #search {
      box-sizing: content-box;
      cursor: pointer;

      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $search-input-bg;

      padding: 1rem;
      max-height: 3rem;
      aspect-ratio: 1;

      fill: $search-icon-fg;
      transition: filter 0.2s linear, fill 0.3s linear;

      &:not(:disabled):hover {
        filter: drop-shadow(0 0 0.2rem #0005);
        fill: $search-icon-hover-fg;
      }

      &.loading {
        .search {
          display: none;
        }

        .loader {
          display: block;
        }
      }
    }

    #search .loader {
      display: none;
      fill: $search-icon-loading-fg;

      animation-name: spin;
      animation-direction: normal;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-timing-function: steps(8);

      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }

        to {
          transform: rotate(1turn);
        }
      }
    }
  }

  // icons
  .icons__list {
    background-color: $list-bg;
    padding: 1rem;

    display: flex;
    justify-content: center;

    &:has(.icons__results:empty) {
      display: none;
    }

    // results
    .icons__results {
      background-color: $result-bg;
      padding: 1rem;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-auto-flow: row dense;
      width: 100%;

      gap: 1rem;

      @include breakpoint(sm) {
        grid-template-columns: repeat(5, 1fr);
      }

      @include breakpoint(md) {
        grid-template-columns: repeat(6, 1fr);
      }

      @include breakpoint(lg) {
        grid-template-columns: repeat(7, 1fr);
      }

      @include breakpoint(xl) {
        grid-template-columns: repeat(8, 1fr);
      }
    }

    // icon
    .icons__icon {
      cursor: pointer;
      border-radius: 0.2rem;
      background-color: $result-icon-bg;
      padding: 1rem;

      .icon__preview {
        display: flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1;
        padding: 2rem;
        fill: $result-icon-fg;

        transition: transform 0.2s linear;

        &:hover {
          transform: scale(1.5);
        }
      }

      .icon__name {
        text-align: center;
        font-size: 1rem;
      }
    }

    // download
    .icons__download {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      gap: 2rem;
      padding: 1rem;

      background-color: $download-bg;
      box-shadow: 0 0 0.5rem $download-shadow inset;
      border-radius: 0.2rem;
      max-width: 30rem;
      width: calc(100% - 4rem);

      &.download--active {
        display: flex;
      }

      .download__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .download__name {
          color: $download-name-fg;

          &:before,
          &:after {
            content: '⊰';
            display: inline;
            color: $download-name-symbols-fg;
          }

          &:after {
            content: '⊱';
          }
        }

        .download__icons {
          display: flex;
          gap: 1rem;

          .icon__copy,
          .icon__download,
          .icon__close {
            cursor: pointer;
            box-sizing: content-box;

            display: grid;
            place-items: center;

            fill: $download-icon-fg;
            width: 2rem;

            transition: filter 0.2s linear, fill 0.3s linear, transform 0.2s linear;

            &:hover {
              fill: $download-icon-hover-fg;
              filter: drop-shadow(0 0 0.2rem #000a);
              transform: scale(1.5);
            }
          }

          .icon__copy,
          .icon__download {
            width: 1.8rem;
          }

          .icon__close {
            margin-left: 1rem;

            &:hover {
              fill: $download-close-hover-fg;
            }
          }
        }
      }

      .download__view {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .view__previous,
        .view__next {
          cursor: pointer;
          box-sizing: content-box;

          display: grid;
          place-items: center;

          fill: $download-icon-fg;
          width: 3rem;

          transition: filter 0.2s linear, fill 0.3s linear, transform 0.2s linear;

          &:hover {
            fill: $download-icon-hover-fg;

            filter: drop-shadow(0 0 0.2rem #000a);
            transform: scale(1.5);
          }
        }

        .download__preview {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 15rem;
          padding: 1rem;
          fill: $result-icon-fg;

          background-color: $result-icon-bg;
          border-radius: 0.5rem;

          transition: padding 0.2s linear;

          &:hover {
            padding: 0.5rem;
          }
        }
      }

      .download__class {
        padding: 0.5rem;
        border-radius: 0.5rem;
        font-size: 1rem;
        background-color: $download-info-bg;
        color: $download-element-fg;

        span {
          color: $download-type-fg;
        }
      }
    }
  }
}
